<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Hamasah", suffix: " · Rekapan Kajian" %>
    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body>
  <div class="bg-tracker-page md:bg-none h-screen py-2">
    <%= if Mix.env() == :dev do %>
    <div class="flex justify-center">
      <p class="text-blue-500 bg-blue-200 self-center shadow text-center w-full py-2 text-4xl">Debugging Mode</p>
    </div>
    <% end %>
    <%= @inner_content %>
    <%= if @current_member do %>
    <div class="mx-auto flex justify-center items-center text-center text-2xl text-blue-500 underline font-bold px-2 rounded w-1/12">
      <%= link "Keluar", to: Routes.member_session_path(@conn, :delete), method: :delete, class: "text-ramadan-purple bg-white md:bg-none rounded px-4 py-2 mt-4 md:rounded-none opacity-80 md:opacity-100 md:text-blue-500 self-center" %>
    </div>
    <% end %>
  </div>
  </body>
</html>
